div{
    background-color: green;
    text-align: center;
    color:orangered;
}
form{

}

#vehicle1{
    width: auto;
}
h1{
font-size: 80px;
}

h3{
font-size: 40px;
}

label{
    font-size: 20px;
}

input{
    width: 30%;
}

p{
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

